/* Safari on iOS adds a button bar at the bottom that obscures the bottom of the app. This works around that */

/* Add 40 pixels to results panel, to button height and negative top, to button bottom padding. */


@media (max-aspect-ratio: 3/4) {
  .resultsPanelSpaceHolder {
    height: 140px !important;
  }
}

@media (max-aspect-ratio: 3/4) {
  .ballotViewer {
    height: calc(100vh - 27px - 140px);
  }
}


button.viewRankings {
  top: -75px !important;
  height: 75px !important;
  padding-bottom: 90px !important;
}

@media (max-aspect-ratio: 3/4) {
  .ballotBox {
    height: calc(100vh + 140px) !important;
  }
}

@media (max-aspect-ratio: 3/4) {
  .resultsPanel {
    height: 140px !important;
    top: calc(-1 * 140px) !important;
  }
}

@media (max-width: 720px), (max-height: 650px) {
  @keyframes bounceUp {
    0% {
      transform: translateY(calc(100px)) !important;
    }


    100% {
        transform: translateY(0) !important;
    }
  }
}
