/* Safari on iOS adds a button bar at the bottom that obscures the bottom of the app. This works around that */

/* Add 40 pixels to results panel, to button height and negative top, to button bottom padding. */

/* Here be hack-dragons */
@media (max-aspect-ratio: 3/4) {
  .resultsPanelSpaceHolder {
    height: 180px !important;
  }
}

@media (max-aspect-ratio: 3/4) {
  .ballotViewer {
    height: calc(100vh - 27px - 180px);
  }
}

@media (max-aspect-ratio: 3/4) {
button.viewRankings {
  top: -115px !important;
  height: 115px !important;
  padding-bottom: 130px !important;
}
}

@media (max-aspect-ratio: 3/4) {
  .ballotBox {
    height: calc(100vh + 180px) !important;
  }
}

/* Full height minus the extra bits, take half of it and give it a 5vh total margin */
@media (min-aspect-ratio: 5/14) and (max-aspect-ratio: 3/4) {
  .animal {
    width: calc((100vh - 27px - 180px - 30px) / 2 - 5vh);
    height: calc((100vh - 27px - 180px - 30px) / 2 - 5vh);
  }
}

@media (max-aspect-ratio: 3/4) {
  .resultsPanel {
    height: 180px !important;
    top: calc(-1 * 180px) !important;
  }
}

@media (max-width: 720px), (max-height: 650px) {
  @keyframes bounceUp {
    0% {
      transform: translateY(calc(100px)) !important;
    }


    100% {
        transform: translateY(0) !important;
    }
  }
}
